# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr

# .env
# We will check in env file for boilerplate, so it gives me full example of local file and folder structures.
# .env should NOT be ignored in REAL dev environment, as it contains sensitive tokens, passwords, etc.

# Supabase temporary files
supabase/.temp/
supabase/.branches/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.tanstack/
.vercel/
.edp_intent/
.playwright-mcp/
.superdesign/
demo/